.cards-wrapper > div{
  padding: 0 14px;
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  /* grid-gap: 24px; */
  
}

.cards > ul > li {
  background-color: white;
  /* border: 1px solid #dadada;
  background-color: var(--background-color); */
  margin-right: 72px;
  margin-bottom: 32px;

}

.cards .cards-card-body {
  /* margin: 16px; */
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards > ul >li> .cards-card-body> p > strong{
  font-size: 17px;
  text-transform: uppercase;
  color: #202020;
  white-space: wrap;
  /* overflow: hidden;
  text-overflow: ellipsis; */
}
.cards > ul >li> .cards-card-body> p{
  font-size: 12px;
  text-transform: uppercase;
  color: dimgray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.8;
}
.reverse >ul>li{
margin: 2px;
opacity: 65%;
}
.reverse > ul > li {
  position: relative;
  margin-bottom: 8%;
  overflow: hidden; /* ensures the triangle doesn’t spill outside */
}

/* Triangle on top-left */
.reverse > ul > li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 40px solid  #ffea00; /* yellow color */
  border-right: 40px solid transparent; /* makes it a triangle */
  z-index: 1;
  
}


/* Lock icon */
.reverse > ul > li::after {
  
  content: '';
  position: absolute;
  top: 8px;
  left: 8px;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg fill='black' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M 12 0 C 8.7 0 6 2.7 6 6 V 11 H 3 V 24 H 21 V 11 H 18 V 6 C 18 2.7 15.3 0 12 0 Z M 12 2 C 14.2 2 16 3.8 16 6 V 11 H 8 V 6 C 8 3.8 9.8 2 12 2 Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
}

.reverse >ul >li > .cards-card-body >h2 >strong{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--body-font-family);
}
.reverse >ul >li > .cards-card-body >p:nth-of-type(2){
  background-color: rgb(228, 223, 223);
  border: 1px solid transparent;
  width: 30%;
  padding: 5px 5px 5px 25px;
  margin-bottom: 5%;
  margin-top: 8%;
}
@media (900px<=width>=600px) {
  .reverse > ul > li{
    margin-right: 50px;
  }
}
@media(width>=900px){
  
}