.cards-wrapper > div{
  padding: 0 14px;
}
.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  /* grid-gap: 24px; */
  
}

.cards > ul > li {
  background-color: white;
  /* border: 1px solid #dadada;
  background-color: var(--background-color); */
  margin-right: 72px;
  margin-bottom: 32px;

}

.cards .cards-card-body {
  /* margin: 16px; */
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards > ul >li> .cards-card-body> p > strong{
  font-size: 17px;
  text-transform: uppercase;
  color: #202020;
  white-space: wrap;
  /* overflow: hidden;
  text-overflow: ellipsis; */
}
.cards > ul >li> .cards-card-body> p{
  font-size: 12px;
  text-transform: uppercase;
  color: dimgray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.8;
}

@media (width>=900px){
  
}
main .section::after{
  content: '';
  display: block;
  height: 2px;
  background-color: rgb(235, 232, 232);
  margin-left: 14px;
  margin-right: 14px;
  margin-top: 32px; /* space between component and line */
  
}